.hamburger {
  position: relative;
  z-index: 1;
  margin: 1rem 1.5rem;
  width: 2.75rem;
  height: 3.125rem;
  border: none;
  background: transparent;
  padding: 0;

  &.toggled {
    .hamburger__line {
      background: #F0F0F0;
    }
  }

  &__line {
    display: block;
    position: absolute;
    top: 1.5625rem;
    height: 4px;
    width: 2.5rem;
    background: black;

    &:first-child {
      top: 0.625rem;
    }

    &:nth-child(3) {
      top: 2.5rem;
    }
  }
}

